      <div id="page-wrapper">
        <div class="col-md-12 graphs">
	   <div class="xs">
  	 <h3>Tài khoản và đơn hàng</h3>
  	<div class="bs-example4" data-example-id="contextual-table">
    <table class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Đơn hàng</th>
          <th>Người đặt</th>
          <th>Giá sản phẩm</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <th scope="row">1</th>
          <td>Giày Bitis Hunter</td>
          <td>Thành Đức</td>
          <td>980.000đ</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Giày Nike</td>
          <td>Ngọc Thanh</td>
          <td>1.299.000đ</td>
        </tr>
        <tr class="success">
          <th scope="row">3</th>
          <td>Giày thể thao</td>
          <td>Tấn Hoàng</td>
          <td>700.000đ</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Bộ vớ 20 đôi</td>
          <td>Trịnh Vũ</td>
          <td>500.000đ</td>
        </tr>
        <tr class="info">
          <th scope="row">5</th>
          <td>Giày adidas</td>
          <td>Thành Công</td>
          <td>2.050.000đ</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Giày Jordan Xanh</td>
          <td>Thánh Nhân</td>
          <td>3.999.000đ</td>
        </tr>
        <tr class="warning">
          <th scope="row">7</th>
          <td>Giày converse</td>
          <td>Ngọc Hoa</td>
          <td>1.299.000đ</td>
        </tr>
      </tbody>
    </table>
   </div>
	<div class="bs-example4" data-example-id="simple-responsive-table">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên tài khoản</th>
            <th>Họ và tên</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>lngochoa129</td>
            <td>Ngọc Hoa</td>
            <td>34/66, quận 3, TpHCM</td>
            <td>0386578901</td>
            <td>ngochoa@gmail.com</td>
            <td>Thành viên</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>nthtuan124</td>
            <td>Thanh Tuấn</td>
            <td>444/12 phường 14, quận 10, TpHCM</td>
            <td>0345667894</td>
            <td>tuanthanh@gmail.com</td>
            <td>Thành viên</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>thanhgod999</td>
            <td>Thánh Nhân</td>
            <td>144/10 phường 12, quận Tân Bình, TpHCM</td>
            <td>0365478965</td>
            <td>ttnhan@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">4</th>
            <td>tuyetchau12</td>
            <td>Trần Tuyết Châu</td>
            <td>222/10 phường 22, quận 1, TpHCM</td>
            <td>0337894567</td>
            <td>ttchau@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">5</th>
            <td>thachmy145</td>
            <td>Thạch Mỹ</td>
            <td>14/10, quận Thủ Đức, TpHCM</td>
            <td>0368855434</td>
            <td>thachmy@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">6</th>
            <td>ngoquyen1956</td>
            <td>Ngô Quyền</td>
            <td>114/10 phường 14, quận 12, TpHCM</td>
            <td>0366543965</td>
            <td>nngo@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">7</th>
            <td>tthcao33</td>
            <td>Trương Thanh Cao</td>
            <td>21/10 phường 22, quận 11, TpHCM</td>
            <td>0365557965</td>
            <td>caothanh@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">8</th>
            <td>duykhanh555</td>
            <td>Đỗ Duy Khánh</td>
            <td>12 phường 13, quận Tân Bình, TpHCM</td>
            <td>0363338965</td>
            <td>ddkhanh@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">9</th>
            <td>hoanganh1029</td>
            <td>Nguyễn Hoàng Anh</td>
            <td>133a phường 10, quận 12, TpHCM</td>
            <td>0365478666</td>
            <td>hoanganh@gmail.com</td>
            <td>Thành viên</td>
          </tr>
             <tr>
            <th scope="row">10</th>
            <td>lamhuong</td>
            <td>Lam Hương</td>
            <td>14/10 phường 12, quận Bình Thạnh, TpHCM</td>
            <td>0336478965</td>
            <td>huonglam@gmail.com</td>
            <td>Thành viên</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
  </div>
  </div>
  <div class="copy_layout">
      <p>Copyright © 2015 Modern. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
  </div>
   </div>
      </div>
