<body id="login">
  <div class="login-logo">
  </div>
  <h2 class="form-heading">Đăng nhập</h2>
  <div class="app-cam">
	  <form>
		<input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
		<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
		<div class="submit"><input type="submit" onclick="myFunction()" value="Đăng nhập"></div>
		<div class="login-social-link">
          <a href="index.html" class="facebook">
              Facebook
          </a>
          <a href="index.html" class="twitter">
              Twitter
          </a>
        </div>
		<ul class="new">
			<li class="new_left"><p><a href="#">Quên mật khẩu ?</a></p></li>
			<li class="new_right"><p class="sign">Thành viên mới ?<a href="#"> Đăng ký</a></p></li>
			<div class="clearfix"></div>
		</ul>
	</form>
  </div>
</body>

